*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
}
:root{
    --border--color: purple;
    --border--hover: rgb(128, 0, 64);
}
.circle{
   
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    border: 5px solid var(--border--color);
    box-shadow: 0 0 10px var(--border--hover);
    
}

.circle:hover{
    background-color: pink;
    transition: 0.5s;
}
