*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css variables */
:root{
    --main-color:#6400e4;
    --box-shadow:0px 3px 5px 0px rgba(0,0,0,0.34);
    --hover--shadow: 0px 4px 4px 0px rgba(3,3,3,0.561);
    --nav-shadow:0px 0px 10px 0px rgba( 0,0,0 , 0.100);
    --light--black:#141c3a;
}

body{
    font-family: "Nunito", sans-serif;
}
.container{
    width: 28%;
    margin: 100px auto;
}

.form{
    display:flex;
    flex-direction: column;
    margin: 30px 0;

}
form label{
margin: 5px 0;
}
form input[type="text"], form input[type="password"]{
    height:"55px";
    margin:"5px 0";
    border:"0.5px solid #b8b8b85d";
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}
form a{
    margin: 10px 0;
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}
form input[type="submit"]{
    margin-top: 20px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

for input[type="submit"]:hover{
    box-shadow:var(--hover--shadow);
    transform: translateY(-3px);
}
.footer h3{
font-size: 16px;
opacity:0.9;
}

.footer .images{
    display: flex;
    margin-top:15px;
    align-items: center;
    justify-content: space-around;
    
}
#in{
    width:59px;
    margin-left: -30px;
}
.footer .images img{
    width: 15%;
   border: 1px solid #e7e7e7;
   padding: 15px;
   border-radius:3px;
   transition: 0.3s ease;
}

.footer .images img:hover{
    box-shadow: var(--hover--shadow);
    transform: translateY(-3px);
    cursor: pointer;
}

.footer a{
    float:right;
    color:(--main-color);
    margin: 10px 0;
}