/* styles both divs */
div {
  width: 60px;
  height: 50px;
  background-color: red;
  border: 1px solid black;
}

/* translates the div 60px horizontally and 20px vertically */
div.translate {
  transform: translate(60px, 20px);
}
